@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
/* Respect user's motion preferences */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
*{

    font-family: Outfit;
}
a.active hr{
    display: block;
}
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  @media (max-width:640px)
  {
    a.active{
        background-color: black;
        color: white;
    }
  }
  @layer components {
    .btn {
      @apply bg-black px-8 py-3 text-sm text-white hover:bg-gray-900 active:bg-gray-700;
    }
  }
  